.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.hidden {
  display: none;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-uppercase {
  text-transform: uppercase;
}
[class^="cotnainer-"],
[class*="container-"] {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  background: #128cfd;
  min-width: 320px;
}
img {
  max-width: 100%;
}
[class*="cc-"]::before {
  font-family: "cryptocoins-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
  display: inline-block;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cc-ADC-alt:before {
  content: "\E001";
}
.cc-ADC:before {
  content: "\E002";
}
.cc-AEON-alt:before {
  content: "\E003";
}
.cc-AEON:before {
  content: "\E004";
}
.cc-AMP-alt:before {
  content: "\E005";
}
.cc-AMP:before {
  content: "\E006";
}
.cc-ANC-alt:before {
  content: "\E007";
}
.cc-ANC:before {
  content: "\E008";
}
.cc-ARCH-alt:before {
  content: "\E009";
}
.cc-ARCH:before {
  content: "\E00A";
}
.cc-ARDR-alt:before {
  content: "\E00B";
}
.cc-ARDR:before {
  content: "\E00C";
}
.cc-AUR-alt:before {
  content: "\E00D";
}
.cc-AUR:before {
  content: "\E00E";
}
.cc-BANX-alt:before {
  content: "\E00F";
}
.cc-BANX:before {
  content: "\E010";
}
.cc-BAT-alt:before {
  content: "\E011";
}
.cc-BAT:before {
  content: "\E012";
}
.cc-BAY-alt:before {
  content: "\E013";
}
.cc-BAY:before {
  content: "\E014";
}
.cc-BC-alt:before {
  content: "\E015";
}
.cc-BC:before {
  content: "\E016";
}
.cc-BCN-alt:before {
  content: "\E017";
}
.cc-BCN:before {
  content: "\E018";
}
.cc-BFT-alt:before {
  content: "\E019";
}
.cc-BFT:before {
  content: "\E01A";
}
.cc-BRK-alt:before {
  content: "\E01B";
}
.cc-BRK:before {
  content: "\E01C";
}
.cc-BRX-alt:before {
  content: "\E01D";
}
.cc-BRX:before {
  content: "\E01E";
}
.cc-BSD-alt:before {
  content: "\E01F";
}
.cc-BSD:before {
  content: "\E020";
}
.cc-BTA:before {
  content: "\E021";
}
.cc-BTC-alt:before {
  content: "\E022";
}
.cc-BTC:before {
  content: "\E023";
}
.cc-BTCD-alt:before {
  content: "\E024";
}
.cc-BTCD:before {
  content: "\E025";
}
.cc-BTS-alt:before {
  content: "\E026";
}
.cc-BTS:before {
  content: "\E027";
}
.cc-CLAM-alt:before {
  content: "\E028";
}
.cc-CLAM:before {
  content: "\E029";
}
.cc-CLOAK-alt:before {
  content: "\E02A";
}
.cc-CLOAK:before {
  content: "\E02B";
}
.cc-DAO-alt:before {
  content: "\E02C";
}
.cc-DAO:before {
  content: "\E02D";
}
.cc-DASH-alt:before {
  content: "\E02E";
}
.cc-DASH:before {
  content: "\E02F";
}
.cc-DCR-alt:before {
  content: "\E030";
}
.cc-DCR:before {
  content: "\E031";
}
.cc-DGB-alt:before {
  content: "\E032";
}
.cc-DGB:before {
  content: "\E033";
}
.cc-DGD:before {
  content: "\E034";
}
.cc-DGX:before {
  content: "\E035";
}
.cc-DMD-alt:before {
  content: "\E036";
}
.cc-DMD:before {
  content: "\E037";
}
.cc-DOGE-alt:before {
  content: "\E038";
}
.cc-DOGE:before {
  content: "\E039";
}
.cc-EMC-alt:before {
  content: "\E03A";
}
.cc-EMC:before {
  content: "\E03B";
}
.cc-ERC-alt:before {
  content: "\E03C";
}
.cc-ERC:before {
  content: "\E03D";
}
.cc-ETC-alt:before {
  content: "\E03E";
}
.cc-ETC:before {
  content: "\E03F";
}
.cc-ETH-alt:before {
  content: "\E040";
}
.cc-ETH:before {
  content: "\E041";
}
.cc-FC2-alt:before {
  content: "\E042";
}
.cc-FC2:before {
  content: "\E043";
}
.cc-FCT-alt:before {
  content: "\E044";
}
.cc-FCT:before {
  content: "\E045";
}
.cc-FLO-alt:before {
  content: "\E046";
}
.cc-FLO:before {
  content: "\E047";
}
.cc-FRK-alt:before {
  content: "\E048";
}
.cc-FRK:before {
  content: "\E049";
}
.cc-FTC-alt:before {
  content: "\E04A";
}
.cc-FTC:before {
  content: "\E04B";
}
.cc-GAME-alt:before {
  content: "\E04C";
}
.cc-GAME:before {
  content: "\E04D";
}
.cc-GDC-alt:before {
  content: "\E04E";
}
.cc-GDC:before {
  content: "\E04F";
}
.cc-GEMZ-alt:before {
  content: "\E050";
}
.cc-GEMZ:before {
  content: "\E051";
}
.cc-GLD-alt:before {
  content: "\E052";
}
.cc-GLD:before {
  content: "\E053";
}
.cc-GNO-alt:before {
  content: "\E054";
}
.cc-GNO:before {
  content: "\E055";
}
.cc-GNT-alt:before {
  content: "\E056";
}
.cc-GNT:before {
  content: "\E057";
}
.cc-GRC-alt:before {
  content: "\E058";
}
.cc-GRC:before {
  content: "\E059";
}
.cc-GRS:before {
  content: "\E05A";
}
.cc-HEAT-alt:before {
  content: "\E05B";
}
.cc-HEAT:before {
  content: "\E05C";
}
.cc-ICN-alt:before {
  content: "\E05D";
}
.cc-ICN:before {
  content: "\E05E";
}
.cc-IFC-alt:before {
  content: "\E05F";
}
.cc-IFC:before {
  content: "\E060";
}
.cc-INCNT-alt:before {
  content: "\E061";
}
.cc-INCNT:before {
  content: "\E062";
}
.cc-IOC-alt:before {
  content: "\E063";
}
.cc-IOC:before {
  content: "\E064";
}
.cc-IOTA-alt:before {
  content: "\E065";
}
.cc-IOTA:before {
  content: "\E066";
}
.cc-JBS-alt:before {
  content: "\E067";
}
.cc-JBS:before {
  content: "\E068";
}
.cc-KMD-alt:before {
  content: "\E069";
}
.cc-KMD:before {
  content: "\E06A";
}
.cc-KOBO:before {
  content: "\E06B";
}
.cc-KORE-alt:before {
  content: "\E06C";
}
.cc-KORE:before {
  content: "\E06D";
}
.cc-LBC-alt:before {
  content: "\E06E";
}
.cc-LBC:before {
  content: "\E06F";
}
.cc-LDOGE-alt:before {
  content: "\E070";
}
.cc-LDOGE:before {
  content: "\E071";
}
.cc-LISK-alt:before {
  content: "\E072";
}
.cc-LISK:before {
  content: "\E073";
}
.cc-LTC-alt:before {
  content: "\E074";
}
.cc-LTC:before {
  content: "\E075";
}
.cc-MAID-alt:before {
  content: "\E076";
}
.cc-MAID:before {
  content: "\E077";
}
.cc-MINT-alt:before {
  content: "\E078";
}
.cc-MINT:before {
  content: "\E079";
}
.cc-MONA-alt:before {
  content: "\E07A";
}
.cc-MONA:before {
  content: "\E07B";
}
.cc-MRC:before {
  content: "\E07C";
}
.cc-MSC-alt:before {
  content: "\E07D";
}
.cc-MSC:before {
  content: "\E07E";
}
.cc-MTR-alt:before {
  content: "\E07F";
}
.cc-MTR:before {
  content: "\E080";
}
.cc-MUE-alt:before {
  content: "\E081";
}
.cc-MUE:before {
  content: "\E082";
}
.cc-NBT:before {
  content: "\E083";
}
.cc-NEOS-alt:before {
  content: "\E084";
}
.cc-NEOS:before {
  content: "\E085";
}
.cc-NEU-alt:before {
  content: "\E086";
}
.cc-NEU:before {
  content: "\E087";
}
.cc-NLG-alt:before {
  content: "\E088";
}
.cc-NLG:before {
  content: "\E089";
}
.cc-NMC-alt:before {
  content: "\E08A";
}
.cc-NMC:before {
  content: "\E08B";
}
.cc-NOTE-alt:before {
  content: "\E08C";
}
.cc-NOTE:before {
  content: "\E08D";
}
.cc-NVC-alt:before {
  content: "\E08E";
}
.cc-NVC:before {
  content: "\E08F";
}
.cc-NXT-alt:before {
  content: "\E090";
}
.cc-NXT:before {
  content: "\E091";
}
.cc-OK-alt:before {
  content: "\E092";
}
.cc-OK:before {
  content: "\E093";
}
.cc-OMNI-alt:before {
  content: "\E094";
}
.cc-OMNI:before {
  content: "\E095";
}
.cc-OPAL-alt:before {
  content: "\E096";
}
.cc-OPAL:before {
  content: "\E097";
}
.cc-PIGGY-alt:before {
  content: "\E098";
}
.cc-PIGGY:before {
  content: "\E099";
}
.cc-PINK-alt:before {
  content: "\E09A";
}
.cc-PINK:before {
  content: "\E09B";
}
.cc-PIVX-alt:before {
  content: "\E09C";
}
.cc-PIVX:before {
  content: "\E09D";
}
.cc-POT-alt:before {
  content: "\E09E";
}
.cc-POT:before {
  content: "\E09F";
}
.cc-PPC-alt:before {
  content: "\E0A0";
}
.cc-PPC:before {
  content: "\E0A1";
}
.cc-QRK-alt:before {
  content: "\E0A2";
}
.cc-QRK:before {
  content: "\E0A3";
}
.cc-RADS-alt:before {
  content: "\E0A4";
}
.cc-RADS:before {
  content: "\E0A5";
}
.cc-RBIES-alt:before {
  content: "\E0A6";
}
.cc-RBIES:before {
  content: "\E0A7";
}
.cc-RBT-alt:before {
  content: "\E0A8";
}
.cc-RBT:before {
  content: "\E0A9";
}
.cc-RBY-alt:before {
  content: "\E0AA";
}
.cc-RBY:before {
  content: "\E0AB";
}
.cc-RDD-alt:before {
  content: "\E0AC";
}
.cc-RDD:before {
  content: "\E0AD";
}
.cc-REP-alt:before {
  content: "\E0AE";
}
.cc-REP:before {
  content: "\E0AF";
}
.cc-RISE-alt:before {
  content: "\E0B0";
}
.cc-RISE:before {
  content: "\E0B1";
}
.cc-SAR-alt:before {
  content: "\E0B2";
}
.cc-SAR:before {
  content: "\E0B3";
}
.cc-SCOT-alt:before {
  content: "\E0B4";
}
.cc-SCOT:before {
  content: "\E0B5";
}
.cc-SDC-alt:before {
  content: "\E0B6";
}
.cc-SDC:before {
  content: "\E0B7";
}
.cc-SIA-alt:before {
  content: "\E0B8";
}
.cc-SIA:before {
  content: "\E0B9";
}
.cc-SJCX-alt:before {
  content: "\E0BA";
}
.cc-SJCX:before {
  content: "\E0BB";
}
.cc-SLG-alt:before {
  content: "\E0BC";
}
.cc-SLG:before {
  content: "\E0BD";
}
.cc-SLS-alt:before {
  content: "\E0BE";
}
.cc-SLS:before {
  content: "\E0BF";
}
.cc-SNRG-alt:before {
  content: "\E0C0";
}
.cc-SNRG:before {
  content: "\E0C1";
}
.cc-START-alt:before {
  content: "\E0C2";
}
.cc-START:before {
  content: "\E0C3";
}
.cc-STEEM-alt:before {
  content: "\E0C4";
}
.cc-STEEM:before {
  content: "\E0C5";
}
.cc-STR-alt:before {
  content: "\E0C6";
}
.cc-STR:before {
  content: "\E0C7";
}
.cc-STRAT-alt:before {
  content: "\E0C8";
}
.cc-STRAT:before {
  content: "\E0C9";
}
.cc-SWIFT-alt:before {
  content: "\E0CA";
}
.cc-SWIFT:before {
  content: "\E0CB";
}
.cc-SYNC-alt:before {
  content: "\E0CC";
}
.cc-SYNC:before {
  content: "\E0CD";
}
.cc-SYS-alt:before {
  content: "\E0CE";
}
.cc-SYS:before {
  content: "\E0CF";
}
.cc-TRIG-alt:before {
  content: "\E0D0";
}
.cc-TRIG:before {
  content: "\E0D1";
}
.cc-TX-alt:before {
  content: "\E0D2";
}
.cc-TX:before {
  content: "\E0D3";
}
.cc-UBQ-alt:before {
  content: "\E0D4";
}
.cc-UBQ:before {
  content: "\E0D5";
}
.cc-UNITY-alt:before {
  content: "\E0D6";
}
.cc-UNITY:before {
  content: "\E0D7";
}
.cc-USDT-alt:before {
  content: "\E0D8";
}
.cc-USDT:before {
  content: "\E0D9";
}
.cc-VIOR-alt:before {
  content: "\E0DA";
}
.cc-VIOR:before {
  content: "\E0DB";
}
.cc-VNL-alt:before {
  content: "\E0DC";
}
.cc-VNL:before {
  content: "\E0DD";
}
.cc-VPN-alt:before {
  content: "\E0DE";
}
.cc-VPN:before {
  content: "\E0DF";
}
.cc-VRC-alt:before {
  content: "\E0E0";
}
.cc-VRC:before {
  content: "\E0E1";
}
.cc-VTC-alt:before {
  content: "\E0E2";
}
.cc-VTC:before {
  content: "\E0E3";
}
.cc-WAVES-alt:before {
  content: "\E0E4";
}
.cc-WAVES:before {
  content: "\E0E5";
}
.cc-XAI-alt:before {
  content: "\E0E6";
}
.cc-XAI:before {
  content: "\E0E7";
}
.cc-XBS-alt:before {
  content: "\E0E8";
}
.cc-XBS:before {
  content: "\E0E9";
}
.cc-XCP-alt:before {
  content: "\E0EA";
}
.cc-XCP:before {
  content: "\E0EB";
}
.cc-XEM-alt:before {
  content: "\E0EC";
}
.cc-XEM:before {
  content: "\E0ED";
}
.cc-XMR:before {
  content: "\E0EE";
}
.cc-XPM-alt:before {
  content: "\E0EF";
}
.cc-XPM:before {
  content: "\E0F0";
}
.cc-XRP-alt:before {
  content: "\E0F1";
}
.cc-XRP:before {
  content: "\E0F2";
}
.cc-XVG-alt:before {
  content: "\E0F3";
}
.cc-XVG:before {
  content: "\E0F4";
}
.cc-YBC-alt:before {
  content: "\E0F5";
}
.cc-YBC:before {
  content: "\E0F6";
}
.cc-ZEC-alt:before {
  content: "\E0F7";
}
.cc-ZEC:before {
  content: "\E0F8";
}
.cc-ZEIT-alt:before {
  content: "\E0F9";
}
.cc-ZEIT:before {
  content: "\E0FA";
}
.icon-arrow_down:before {
  content: "\e900";
  color: #000;
}
.icon-excahange:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-gplus:before {
  content: "\e903";
}
.icon-home_bg_buttom:before {
  content: "\e904";
  color: #0453db;
}
.icon-home_bg_shape_1:before {
  content: "\e905";
  color: #12abff;
}
.icon-home_bg_shape_2:before {
  content: "\e906";
  color: #12abff;
}
.icon-home_bg_shape_3:before {
  content: "\e907";
  color: #12abff;
}
.icon-home_bg_top:before {
  content: "\e908";
  color: #0453db;
}
.icon-home_feat_1:before {
  content: "\e909";
}
.icon-home_feat_2:before {
  content: "\e90a";
}
.icon-home_feat_3:before {
  content: "\e90b";
}
.icon-home_feat_4:before {
  content: "\e90c";
}
.icon-icon_1:before {
  content: "\e90d";
}
.icon-icon_2:before {
  content: "\e90e";
}
.icon-icon_3:before {
  content: "\e90f";
}
.icon-icon_4:before {
  content: "\e910";
}
.icon-instagram:before {
  content: "\e911";
}
.icon-lock:before {
  content: "\e912";
}
.icon-logo_buttom .path1:before {
  content: "\e913";
  color: #ffffff;
}
.icon-logo_buttom .path2:before {
  content: "\e914";
  margin-left: -0.99707031em;
  color: #ffffff;
}
.icon-logo_buttom .path3:before {
  content: "\e915";
  margin-left: -0.99707031em;
  color: #000375;
}
.icon-logo_buttom .path4:before {
  content: "\e916";
  margin-left: -0.99707031em;
  color: #ffffff;
}
.icon-logo_header .path1:before {
  content: "\e917";
  color: #ffffff;
}
.icon-logo_header .path2:before {
  content: "\e918";
  margin-left: -3.97460938em;
  color: #ffffff;
}
.icon-logo_header .path3:before {
  content: "\e919";
  margin-left: -3.97460938em;
  color: #000375;
}
.icon-logo_header .path4:before {
  content: "\e91a";
  margin-left: -3.97460938em;
  color: #ffffff;
}
.icon-logo_header .path5:before {
  content: "\e91b";
  margin-left: -3.97460938em;
  color: #ffffff;
}
.icon-panel_bg:before {
  content: "\e91c";
}
.icon-panel_money:before {
  content: "\e91d";
}
.icon-twitter:before {
  content: "\e91e";
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.eot');
  src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Medium.eot');
  src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Lato-Medium.woff') format('woff'), url('../fonts/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "cryptocoins-icons";
  src: url('../fonts/cryptocoins-icons.eot');
  src: url('../fonts/cryptocoins-icons.eot?#iefix') format('eot'), url('../fonts/cryptocoins-icons.woff2') format('woff2'), url('../fonts/cryptocoins-icons.woff') format('woff'), url('../fonts/cryptocoins-icons.ttf') format('truetype'), url('../fonts//cryptocoins-icons.svg#cryptocoins-icons') format('svg');
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?xylhr4');
  src: url('../fonts/icomoon.eot?xylhr4#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?xylhr4') format('truetype'), url('../fonts/icomoon.woff?xylhr4') format('woff'), url('../fonts/icomoon.svg?xylhr4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background: #1682ee;
  background: -moz-linear-gradient(90deg, #1ba1fc 0%, #136cf3 100%);
  background: -webkit-linear-gradient(90deg, #1ba1fc 0%, #136cf3 100%);
  background: -ms-linear-gradient(90deg, #1ba1fc 0%, #136cf3 100%);
  background: linear-gradient(90deg, #1ba1fc 0%, #136cf3 100%);
  overflow: hidden;
}
#header {
  position: relative;
  padding-top: 40px;
}
#header .icon-home_bg_top {
  position: absolute;
  top: -749px;
  right: -498px;
  color: #0453db;
  font-size: 1500px;
  z-index: -1;
}
.container-header {
  max-width: 1081px;
}
.header__logo {
  display: inline-block;
  background: url("images/logo.png") no-repeat center;
  -webkit-background-size: contain;
  background-size: contain;
  width: 144px;
  height: 36px;
  margin-left: 8px;
}
.header-nav {
  display: inline-block;
  z-index: 50;
}
.header-nav__list {
  padding: 0;
  margin: 0;
}
.header-nav__list-item {
  list-style: none;
  display: inline-block;
  margin-left: 44px;
}
.header-nav__list-item:first-of-type {
  margin-right: 11px;
}
.header-nav__list-link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.header__login-form {
  display: inline-block;
  margin-left: 89px;
  margin-right: -2px;
  z-index: 50;
  margin-top: -10px;
}
.header__login-form a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin-left: 28px;
  font-size: 15px;
}
.header__register {
  border: 1px solid #5090cd;
  background-color: #0755db;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(20, 114, 244, 0.39);
  box-shadow: 0px 3px 11px 0px rgba(20, 114, 244, 0.39);
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  padding: 12px 33px;
}
.header__login .icon-lock {
  color: rgba(255, 255, 255, 0.5);
  margin-right: 7px;
}
#btn-mob {
  display: none;
}
@media (max-width: 1024px) {
  .header__login-form {
    margin-left: 40px;
  }
  .header-nav__list-item {
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    margin-left: 0;
    width: 130px;
    height: 33px;
  }
  .header__nav {
    margin-top: 7px;
  }
  .header-nav__list-item {
    margin-left: 10px;
  }
  .header-nav__list-item:first-of-type {
    margin-right: 0;
  }
  .header-nav__list-link {
    font-size: 13px;
  }
  .header__login-form {
    margin-left: 10px;
  }
  .header__login-form a {
    margin-left: 5px;
    font-size: 13px;
  }
  .header__register {
    padding: 7px  15px;
  }
  .header__login {
    margin-top: 0;
  }
  .header__login .icon-lock {
    margin-right: 2px;
  }
}
@media (max-width: 520px) {
  #btn-mob {
    display: inline-block;
    position: absolute;
    top: 47px;
    right: 10px;
    z-index: 150;
  }
  #btn-mob span {
    display: block;
    background-color: #fff;
    width: 30px;
    height: 2px;
    margin-top: 5px;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
  }
  #btn-mob span:first-of-type {
    margin-top: 0;
  }
  #btn-mob.active {
    top: 25px;
    right: 10px;
  }
  #btn-mob.active span {
    background-color: #5d6184;
  }
  #btn-mob.active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: -7px;
  }
  #btn-mob.active span:nth-child(2) {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-50px, 0);
    -ms-transform: translate(-50px, 0);
    -o-transform: translate(-50px, 0);
    transform: translate(-50px, 0);
  }
  #btn-mob.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -1px;
  }
  .header-nav {
    display: none;
  }
  .header__login-form {
    display: none;
  }
}
#header-modal {
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(8, 59, 148, 0.34);
  box-shadow: 0px 4px 5px 0px rgba(8, 59, 148, 0.34);
  -webkit-transform: translate(0, -50%) scale(0.5, 0.5);
  -moz-transform: translate(0, -50%) scale(0.5, 0.5);
  -ms-transform: translate(0, -50%) scale(0.5, 0.5);
  -o-transform: translate(0, -50%) scale(0.5, 0.5);
  transform: translate(0, -50%) scale(0.5, 0.5);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
#header-modal.active {
  display: block;
  margin: auto;
  max-width: 748px;
  background-color: #fff;
  opacity: 1;
  visibility: visible;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  z-index: 100;
  -webkit-transform: translate(0, 0) scale(1, 1);
  -moz-transform: translate(0, 0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
  -o-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
}
.modal__nav-list {
  padding: 60px 0;
  margin: 0;
  background-color: #fff;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  border-radius: 11px;
}
.modal__nav-list-item {
  list-style: none;
  margin-left: 70px;
  margin-bottom: 30px;
  display: inline-block;
}
.modal__nav-list-item:last-of-type {
  margin-bottom: 0;
}
.modal__nav-list-link {
  color: #293380;
  text-decoration: none;
  font-size: 15px;
}
.modal__login-form {
  background-color: #f0f5fd;
  padding: 30px 50px;
  text-align: center;
  -moz-border-radius-bottomright: 11px;
  -webkit-border-bottom-right-radius: 11px;
  border-bottom-right-radius: 11px;
  -moz-border-radius-bottomleft: 11px;
  -webkit-border-bottom-left-radius: 11px;
  border-bottom-left-radius: 11px;
}
.modal__login-form a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #5d6184;
  margin-bottom: 20px;
  font-weight: 500;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.modal__login-form a:hover {
  background-color: #00e9b4;
  color: #172d69;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(8, 59, 148, 0.27);
  box-shadow: 0px 7px 5px 0px rgba(8, 59, 148, 0.27);
  font-weight: bold;
}
.modal__register {
  border: 1px solid #d1d5df;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  padding: 12px 33px;
}
.modal__login {
  border: 1px solid #d1d5df;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  padding: 12px 33px;
}
.modal__login .icon-lock {
  color: #5d6184;
  margin-right: 7px;
}
.modal__loggined-form {
  background-color: #f0f5fd;
  padding: 30px 0;
  -moz-border-radius-bottomright: 11px;
  -webkit-border-bottom-right-radius: 11px;
  border-bottom-right-radius: 11px;
  -moz-border-radius-bottomleft: 11px;
  -webkit-border-bottom-left-radius: 11px;
  border-bottom-left-radius: 11px;
}
.modal__person-info {
  margin-bottom: 20px;
  margin-right: 25px;
  margin-left: 25px;
}
.modal__person-img {
  display: inline-block;
  width: 35px;
  height: 35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #f0f0f0;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(51, 81, 133, 0.24);
  box-shadow: 0px 4px 5px 0px rgba(51, 81, 133, 0.24);
  vertical-align: middle;
}
.modal__person-name {
  display: inline-block;
  color: #5d6184;
  font-size: 15px;
  font-weight: 500;
  margin-left: 20px;
}
.modal__logout {
  border: 1px solid #d1d5df;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  border-radius: 90px;
  padding: 12px 50px;
  text-decoration: none;
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  color: #5d6184;
  margin-bottom: 20px;
  font-weight: 500;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.modal__logout:hover {
  background-color: #00e9b4;
  color: #172d69;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(8, 59, 148, 0.27);
  box-shadow: 0px 7px 5px 0px rgba(8, 59, 148, 0.27);
  font-weight: bold;
}
.logout-icon {
  display: inline-block;
  background: url("images/logout-icon.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: text-top;
}
