body{
  background: #1682ee;
  background: -moz-linear-gradient( 90deg, rgb(27,161,252) 0%, rgb(19,108,243) 100%);
  background: -webkit-linear-gradient( 90deg, rgb(27,161,252) 0%, rgb(19,108,243) 100%);
  background: -ms-linear-gradient( 90deg, rgb(27,161,252) 0%, rgb(19,108,243) 100%);
  background: linear-gradient(90deg, rgb(27,161,252) 0%, rgb(19,108,243) 100%);
  overflow: hidden;
  //&:after{
  //  content: '';
  //  display: inline-block;
  //  background: url('@{rootUrl}bg-top.png')no-repeat 0 0;
  //  -webkit-background-size: contain;
  //  background-size: contain;
  //  .size(100%, 695px);
  //  max-width: 100%;
  //}
}