.benefits-intro{
  max-width: 1067px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
          "intro-item intro-item intro-item intro-item";
  justify-content: center;
}
.benefits-intro__icon{
  display: block;
  background-color: transparent;
  font-size: 20px;
  text-align: center;
}

.icon-home_feat_1{
  color: #49c7ff;
}

.icon-home_feat_2{
  color: #54d6ac;
}

.icon-home_feat_3{
  color: #e9ac7a;
}

.icon-home_feat_4{
  color: #a961e6;
}

.benefits-intro__content{
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  display: block;
  text-align: center;
}