.container-footer{
  max-width: 1095px;
}
.footer{
  display: grid;
  grid-template-columns: 60% 13.33% 13.33% 13.33%;
  margin-top: 50px;
}

.footer__logo{
  display: block;
  background-color: #1e6cf1;
  .square(70px);
  z-index: -1;
  position: relative;
  .border-radius(11px);
  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url("@{rootUrl}logo_buttom.svg")no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    .square(60px);
    z-index: 2;
    display: block;
  }
}

.footer__contact{
  margin-top: 40px;
}

.footer__tel,
.footer__mail{
  font-size: 14px;
  display: block;
  text-decoration: none;
  color: #fff;
  margin-bottom: 10px;
}

.footer__address{
  font-size: 14px;
  color: #9dd2ff;
  margin-top: 15px;
}

.footer__tel-icon{
  background: url("@{rootUrl}phone-icon.png")no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  .square(20px);
  filter: invert(100%);
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

.footer__mail-icon{
  background: url("@{rootUrl}envelope-icon.png")no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  .square(20px);
  filter: invert(100%);
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

.footer-menu__list-heading{
  font-size: 17px;
  color: #9dd2ff;
}

.footer-menu__list{
  padding-left: 0;
}

.footer-menu__list-item{
  list-style: none;
  display: inline-block;
  margin-bottom: 15px;
}

.footer-menu__list-link{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  .transition(0.3s all ease);
  &:hover{
    color: #afffef;
  }
}