.benefits-intro{
  max-width: 1067px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  margin-top: 160px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
          "intro-item intro-item intro-item intro-item";
  justify-content: center;
}

.benefits-intro__item{
  margin-bottom: 30px;
}

.benefits-intro__icon{
  display: block;
  background-color: transparent;
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}

.icon-home_feat_1{
  color: #49c7ff;
}

.icon-home_feat_2{
  color: #54d6ac;
}

.icon-home_feat_3{
  color: #e9ac7a;
}

.icon-home_feat_4{
  color: #a961e6;
}

.benefits-intro__content{
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  display: block;
  text-align: center;
}

//===============BENEFITS========================

.container-benefits{
  max-width: 1250px;
}

.benefits{
  background-color: #fff;
  .border-radius(11px);
  .box-shadow( 0px 8px 51px 0px rgba(50, 80, 122, 0.32));
  padding: 5% 7%;
}

.benefits__heading{
  font-size: 38px;
  color: #2c4c70;
  text-align: center;
  margin-bottom: 40px;
}

.benefits__subheading{
  font-size: 17px;
  color: #7ba1b8;
  text-align: center;
  margin-bottom: 55px;
}

.benefits-list{
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: auto;
}

.benefits-list__item{
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 45px;
}

.benefits-list__icon{
  display: block;
  background: -moz-linear-gradient( -75deg, rgb(177,237,215) 0%, rgb(227,248,241) 100%);
  background: -ms-linear-gradient( -75deg, rgb(177,237,215) 0%, rgb(227,248,241) 100%);
  background: linear-gradient(-75deg, rgb(177,237,215) 0%, rgb(227,248,241) 100%);
  .square(50px);
  .border-radius(50%);
  margin-bottom: 20px;
}

.benefits-list__item-heading{
  font-size: 19px;
  font-weight: bold;
  color: #3b5c82;
  display: block;
}

.benefits-list__item-content{
  color: #7ba1b8;
  font-size: 15px;
}


@media (max-width: 768px) {
  .benefits-intro{
    grid-template-columns: 50% 50%;
    grid-template-areas:
            "intro-item intro-item";
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .benefits-list{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }

}

@media (max-width: 520px) {
  .benefits-intro{
    grid-template-columns: 50% 50%;
    grid-template-areas:
            "intro-item intro-item";
    margin-top: 100px;
    margin-bottom: 40px;
  }

  .benefits-list{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

}