.container-transactions{
  max-width: 970px;
  margin-top: 70px;
  .btn-transparent{
    display: none;
  }
}

.transactions__heading{
  text-align: center;
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  margin-bottom: 30px;
}

.transactions__subheading{
  text-align: center;
  color: #a7d6f3;
  font-size: 19px;
}

.transactions-list{
  margin-top: 45px;
}

.transactions-list__row{
  display: grid;
  grid-template-columns: 43% 46% 11%;
  padding: 10px 15px;
  .border-radius(11px);
  background-color: #fff;
  margin-bottom: 8px;
  .box-shadow(0px 4px 23px 0px rgba(51, 81, 133, 0.07));
  &:nth-of-type(5){
    opacity: 0.4;
  }
}

.transactions-list__row-col1{
  display: grid;
  grid-template-columns: 47% 6% 47%;
}

.transaction-list__item{
  display: inline-block;
  border: 1px solid #e2e2e2;
  .border-radius(11px);
  padding: 15px;
  position: relative;
}

.transaction__amount{
  font-size: 18px;
  color: #34424f;
  display: inline-block;
}

.transaction__currency{
  display: inline-block;
  justify-self: end;
  position: absolute;
  right:10px;
  top: 50%;
  .translate(0,-50%);
}

.transaction__icon{
  display: inline-block;
  margin-left: 20px;
  background-color: #00e9b4;
  padding: 5px 8px;
  .border-radius(4px);
  &:before{
    color: #2428a6;
  }
}

.transaction__currency-name{
  display: inline-block;
  margin-left: 5px;
  color: #1e4b76;
  font-size: 12px;
  font-weight: bold;
}

.transaction-list__item-text{
  display: inline-block;
  color: #1e4b76;
  font-size: 11px;
  font-weight: 500;
  justify-self: center;
  align-self: center;
}

.transactions-list__row-col2{
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
}

.transactions-list__rate{
  justify-self: end;
  color: #333a59;
  font-size: 14px;
}

.transaction-lst__date{
  justify-self: center;
  color: #333a59;
  font-size: 14px;
  span {
    font-weight: 300;
  }
}

.transactions-list__row-col-3{
  align-items: center;
  justify-self: end;
  a{
    text-decoration: none;
    font-size: 28px;
    color: #333a59;
  }
}


@media (max-width:920px){
  .transaction__icon {
    margin-left: 10px;
    padding: 3px 6px;
  }

  .transaction__amount {
    font-size: 13px;
  }

  .transaction__currency-name {
    margin-left: 4px;
  }

  .transactions-list__rate {
    font-size: 13px;
  }

  .transaction-lst__date {
    font-size: 13px;
  }
}

@media (max-width:768px){
  .transactions-list__row {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  .transactions-list__row-col1 {
    grid-template-columns: 100%;
  }

  .transaction-list__item {
    width: 80%;
  }

  .transaction__icon {
    margin-left: 20px;
    padding: 5px 8px;
  }

  .transaction__amount {
    font-size: 16px;
  }

  .transaction__currency{
    position: absolute;
    left: 25%;
  }

  .transaction__currency-name {
    margin-left: 5px;
  }

  .transaction-list__item-text {
   width: 80%;
   text-align: center;
    justify-self: start;
  }

  .transactions-list__row-col2 {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  .transactions-list__rate {
    font-size: 16px;
    justify-self: start;
  }

  .transaction-lst__date {
    justify-self: start;
    align-self: start;
    padding-top: 8px;
    font-size: 16px;
  }

  .transactions-list__row-col-3{
    display: none;
  }
}

@media (max-width: 520px) {
  .transaction-list__item {
    width: 100%;
  }

  .transaction__currency{
    position: absolute;
    left: 40%;
    right: 10px;
  }

  .transaction__amount {
    font-size: 13px;
  }

  .transactions-list__rate {
    font-size: 13px;
    justify-self: end;
    span{
      display: block;
      text-align: right;
    }
  }

  .transaction-lst__date {
    justify-self: end;
    font-size: 13px;
    span {
      display: block;
      text-align: right;
    }
  }

  .container-transactions{
    .btn-transparent{
      display: block;
      font-size: 16px;
      color: #fff;
      text-align: center;
      background-color: rgba(255,255,255,0.3);
    }
  }
}
